body {
    text-align: center;
}

h1 {
    font-family: Cabin;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    font-family: Cabin;
    font-size: 30px;
    margin: 1em 0 0.50em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

form {
    font-family: Cabin;
    font-size: 20px;
}

input[type=submit] {
    font-family: Cabin;
    font-size: 20px;
}

input[type=number] {
    width: 3em;
    font-family: Cabin;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    position: relative;
  	top: 5px;
  	outline:1px solid black;
  	border: none;
}

tr {
    border: 1px solid black;
    height: 20px;
}

td {
    border: 1px solid black;
    width: 20px;
}
